.complex-title {
  display: flex;
  background: #ffffff;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}

.complex-title-heading {
  font-family: Philosopher;
  font-size: 2rem;
  font-weight: bold;
  color: #3e4247;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1;
}

.complex-title-address {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
  line-height: 1.2;
}

.complex-add-to-favs {
  display: block;
}

.add-to-favs-button {
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.0;
  color: #00779a;
  padding: 8px 16px;
  margin-right: .5rem;
}

.complex-gallery-images-wrapper {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.complex-gallery-button-wrapper {
  position: absolute;
  margin-top: -2.625rem;
}

.complex-gallery-all-photos-btn {
  border: none;
  border-radius: 2px;
  background-color: #00779a;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  font-family: 'Fira Sans';
  cursor: pointer;
}

.complex-info {
  background: #fff;
}

.complex-info-headings {
  display: flex;
  margin-right: 3rem;
  margin-bottom: 2.25rem;
  padding-top: 1rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-info-headings-item {
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

.complexes-info-heading {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  margin-top: 0.5rem;
  padding-bottom: 0;
  font-family: 'Philosopher';
  font-weight: 700;
  line-height: 1;
  color: #3e4247;
}

.complex-info-heading-subheading {
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.complex-info-heading {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3e4247;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}

.complex-summary {
  background: #fff;
  margin-bottom: 2rem;
}
.complex-summary-heading,
.complex-description-heading,
.complex-infrastructure-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3e4247;
}

.complex-summary-summary-item {
  display: flex;
  margin-bottom: 0;
  margin-top: .5rem;
}

.complex-summary-item-title {
  margin-top: 0rem;
  margin-bottom: 0.25em;
  width: 50%;
  font-size: 1rem;
  color: #a9afb6;
  line-height: 1.56;
}

.complex-summary-item-value {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  width: 50%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56;
  color: #3e4247;
}
.complex-description {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.complex-description-paragraph {
  margin-top: 0.25rem;
  margin-bottom: 25px;
  font-size: 1rem;
  color: #3e4247;
  line-height: 25px;
}

.complex-infrastructure {
  padding-bottom: 3.5rem;
}
.complex-infrastructure-wrapper {
  padding-top: 2rem;
  border-top: 1px solid #e0e0e1;
}
.complex-infrastructure-items {
  margin-top: 0.25rem;
}
.complex-infrastructure-item {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.38;
  color: #3e4247;
}

.complex-offers {
  padding-top: 3.75rem;
  padding-bottom: 4rem;
  background-color: #f4f5f9;
}

.complex-offers-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3e4247;
}

.complex-offer-card {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #fff;
}
.complex-offer-card-heading {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Philosopher';
  font-size: 20px;
  font-weight: 700;
  color: #3e4247;
}
.complex-title-subheading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
}
.complex-title-value {
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.38;
  color: #3e4247;
}
