html {
  font-size: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}
.background-pattern {
  background-color: #eaebf0;
  background-image: url('images/background.png');
  background-size: 20px 10px;
}
.container {
  max-width: 1184px;
}

img {
  flex-shrink: 0;
}

h2 {
  font-size: 1.5rem;
  color: #3e4247;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
}

.header {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #eaebf0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.header-nav {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-nav-link {
  margin-left: 2rem;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  color: #3e4247;
}

.banner {
  width: 100%;
  height: 291px;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  margin-bottom: 4rem;
  margin-top: 3rem;
  line-height: 1.5;
  color: #3e4247;
}

.banner-black-button {
  background-color: #000;
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2px;
}

.complexes-complex-block {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 350px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.complexes-complex-block:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

.complexes-complex-description {
  padding: 1.5rem 6.25rem 1.5rem 2rem;
  background-color: #fff;
  border-bottom: solid 2px #646971;
}

.complexes-complex-description-address {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  color: #646971;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.complexes-complex-description-title {
  margin-top: 2rem;
  margin-bottom: 0;
}

.complexes-complex-block-image {
  height: 100%;
}

.complexes-complex-description-info {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #3e4247;
  margin-top: 1rem;
  margin-right: 2rem;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #111111;
  padding-top: 2rem;
  margin-top: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #a9afb6;
  padding-bottom: 1.75rem;
}

.footer-heading {
  margin-top: 1rem;
  font-size: 0.875rem;
  margin: 0;
  font-weight: 700;
}

.footer-phone {
  margin-top: 1rem;
}

.footer-paragraph {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-line {
  height: 2px;
  margin: 0 0 1rem 0;
  background: #3e4247;
  border: none;
}

.footer-title {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #646971;
}

.footer-link {
  display: block;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
}

.footer-link-top-offset {
  margin-top: 1rem;
}

.footer-link-arrow:after {
  content: url('images/right-arrow.svg');
  margin-left: .5rem;
}

.footer-disclaimer {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.5;
  color: #a9afb6;
  margin-top: 5.75rem;
  margin-bottom: 0;
}
